{% extends 'main/layout.html' %}
{% load static i18n %}

{% block title %}{% trans "Добавление достопримечательности" %}{% endblock %}

{% block content %}
    <div class ="features">
        <form method="post">
            {% csrf_token %}
            {{ form.attraction }}<br>
            {{ form.attraction_type }}<br>
            {{ form.region }}<br>
            {{ form.information }}<br>
            <span> {{ error }}</span>
            <button class="btn btn-success" type="submit">{% trans "Добавить достопримечательность" %}</button>
        </form>
    </div>
{% endblock %}